// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

// MARGIN HELPER CLASSES
.mb-sm { margin-bottom: 2rem; }
.mb-md { margin-bottom: 3rem; }
.mb-lg { margin-bottom: 4rem; }
.mb-hg { margin-bottom: 8rem; }

// RESPONSIVE BREAKPOINTS
$bp-hg: 112.5em; //1800px
$bp-lg: 75em; //1200px
$bp-md: 62.5em; //1000px
$bp-sm: 50em; //800px
$bp-tiny: 31.25em; //500px

// -------- SASS VARIABLES END --------


*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-lg) {
    font-size: 50%
  }
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}


.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content); // min-content allows the row to take up as much vertical room as the content
  grid-template-columns: [sidebar-start]8rem[sidebar-end full-start]  
                         minmax(6rem, 1fr) [center-start]
                         repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) // each column will be between it's min-content width, going to a max of 14rem
                         [center-end] minmax(6rem, 1fr) [full-end];

  @media only screen and (max-width: $bp-md) {
    grid-template-rows: 8rem 80vh min-content 40vw repeat(3, min-content);
    grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start]
                           repeat(8, [col-start] minmax(min-content, 14rem) [col-end])
                           [center-end] minmax(6rem, 1fr) [full-end];
    // Redo column layout for smaller screens, placing navigation sidebar at top
  }

  @media only screen and (max-width: $bp-sm) {
    grid-template-rows: 8rem calc(100vh - 6rem) min-content min-content 40vw repeat(3, min-content);
  } 
}

// --- Notes ---
// What was done in grid-template-columns is the following:
// 11 total columns were created
// The first is 8rem and doesn't change sizes
// The second is a minimum of 6rem, with a maximum of 1fr
// The 3rd through 10th have a minimum of the content width, with a maximum of 14rem
// The 11th is a minimum of 6rem, with a maximum of 1fr

// The 2nd and 11th columns allow the 8 columns to be centered, since they use 1fr they stretch to fill extra space

// Each of the column grid lines are named, with some lines having two names. The name order goes as follows:
// sidebar-start, sidebar-end full-start, center-start col-start 1, col-end 1 col-start 2, ...... col-end 8 center-end, full-end
//       |                   |                         |     |    |    |    |    |    |    |    |                          |
